<!doctype html>
{% load static %}
<html lang="en">

<head>
<title>PsychBot</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="PsychBot - A Psychological disorder predicting chatbot.">
<meta name="author" content="Mouz Ramzan, Momina Imran">

<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" ><!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'dark_assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'dark_assets/css/color_skins.css' %}">
</head>
<style>
    /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #49c5b6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #49c5b6; 
}
</style>
<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'images/logo_new.png' %}" width="48" height="48" alt=""></div>
        <p>Please wait...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
            </div>

            <div class="navbar-brand">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo_new.png' %}" alt="" class="img-responsive logo"></a>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'logout' %}" class="icon-menu"><i class="icon-login"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <img src="{% static 'images/admin.png' %}" id="profile_pic" class="rounded-circle user-photo" alt="User Profile Picture">
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Admin</strong></a>
                    <ul class="dropdown-menu dropdown-menu-right account">
                        <li><a href="{% url 'logout' %}"><i class="icon-power"></i>Logout</a></li>
                    </ul>
                </div>
                <hr>
            </div>

            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane active" id="menu">
                    <nav id="left-sidebar-nav" class="sidebar-nav">
                        <ul id="main-menu" class="metismenu">
                            <li>
                                <a href="{% url 'get_patients' %}"><i class="icon-home"></i> <span>Patients</span></a>
                            </li>
                            <li>
                                <a href="{% url 'get_doctor' %}"><i class="icon-user"></i> <span>Doctors</span></a>
                            </li>
                            <li class="active">
                                <a href="{% url 'get_applied_doctor_list' %}"><i class="icon-envelope"></i> <span>Applications</span></a>
                            </li>
                            <li>
                                <a href="{% url 'get_approved_list' %}"><i class="icon-check"></i> <span>Approved Applications</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

        <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Applied List</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Applied List</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="d-inline-block">Application Status</h2>
                        </div>
                        <div class="body">
                        <div class="table-responsive table_middel">
                            <table id="table_data" class="table m-b-0">
                                <thead id="thead" class="thead-dark d-none">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Number</th>
                                        <th>Qualification</th>
                                        <th>City</th>
                                        <th>Country</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Javascript -->
<script src="{% static 'dark_assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'dark_assets/bundles/vendorscripts.bundle.js' %}"></script>

<script src="{% static 'dark_assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

<script>


$( document ).ready(function() {
    debugger;
    var form_data = new FormData()
    $.ajax({
        type: "POST",
        url: "/get_applied_doctor_list/",
        data: form_data,
        cache: false,
        processData: false,
        contentType: false,
        success: function(data){
            console.log(data)
        $('#tbody tr').empty()
        $('#select_text').addClass('d-none')
        $('#thead').removeClass('d-none')
        var list = data['list']
        var count = 1;
        for (let i = 0; i < list.length; i++) {  
            var applicant_name = list[i]['name']
            var applicant_email = list[i]['email']
            var applicant_number = list[i]['number']
            var applicant_city = list[i]['city']
            var applicant_country = list[i]['country']
            var applicant_qualification = list[i]['qualification']
            var pk = list[i]['pk']
            var a = ''
            a += '<tbody id="tbody">'
            a += '<tr>'
            a += '<td>'+ count +'</td>'
            a += '<td><div class="c_name">'+ applicant_name +'</div></td>'
            a += '<td><span class="text-info">'+ applicant_email +'</span></td>'
            a += '<td><span class="phone">'+ applicant_number +'</span></td>'
            a += '<td><div>'+ applicant_qualification +'</div></td>'
            a += '<td><age>'+ applicant_city +'</age></td>'
            a += '<td><span>'+ applicant_country +'</span></td>'
            a += '<td>'
            a += '<input type="hidden" value="'+ pk +'" id="hidden_doc_pk">'
            a += '<button style="margin-right: 5px!important;" onclick="approve_doc()" type="button" id="accept_doctor" value="approved" class="btn btn-success js-sweetalert" title="Approve"><i style="pointer-events:none" class="fa fa-check"></i></button>'
            a += '<button style="margin-right: 5px!important;" onclick="reject_doc()" type="button" id="reject_doctor" class="btn btn-danger" value="rejected" title="Reject"><i style="pointer-events:none" class="fa fa-times"></i></button>'
            a += '</td>'
            a += '</tr>'
            a += '</tbody>'
            $('#table_data').append(a)
            count++
        }
        }
    })
});




function approve_doc(){
    debugger;
    var pk =  event.target.parentNode.childNodes
    var selected_pk = pk[0].value;
    var value = $('#accept_doctor').val()
    var email = event.target.parentNode.parentNode.childNodes[2].innerText;
    var form_data = new FormData()
    form_data.append('pk', selected_pk)
    form_data.append('value', value)
    form_data.append('email', email)
    $.ajax({
        type: "POST",
        url: "/doctor_verification/",
        data: form_data,
        cache: false,
        processData: false,
        contentType: false,
        success: function(data){
            debugger;
            var response = data['response']
            if (response == 'true'){
                $.notify("Acceptance email has been successfully sent to the doctor.", "success");
            }
        }
    })
}


function reject_doc(){
    debugger;
    var pk =  event.target.parentNode.childNodes
    var selected_pk = pk[0].value;
    var value = $('#reject_doctor').val()
    var email = event.target.parentNode.parentNode.childNodes[2].innerText;
    var form_data = new FormData()
    form_data.append('pk', selected_pk)
    form_data.append('value', value)
    form_data.append('email', email)
    $.ajax({
        type: "POST",
        url: "/doctor_verification/",
        data: form_data,
        cache: false,
        processData: false,
        contentType: false,
        success: function(data){
            debugger;
            console.log(data)
            var response = data['response']
            if (response == 'true'){
                $.notify("Rejection email has been successfully sent to the doctor.", "success");
            }
        }
    })
}





document.getElementById('filePhoto').onchange = function (evt) {
    var tgt = evt.target || window.evt.srcElement,
        files = tgt.files;

    // FileReader support
    if (FileReader && files && files.length) {
        var fr = new FileReader();
        fr.onload = function () {
            document.getElementById('user_photo').src = fr.result;
        }
        fr.readAsDataURL(files[0]);
    }

    // Not supported
    else {
        // fallback -- perhaps submit the input to an iframe and temporarily store
        // them on the server until the user's session ends.
    }
}

    $(function() {
        // photo upload
        $('#btn-upload-photo').on('click', function() {
            $(this).siblings('#filePhoto').trigger('click');
        });

        // plans
        $('.btn-choose-plan').on('click', function() {
            $('.plan').removeClass('selected-plan');
            $('.plan-title span').find('i').remove();

            $(this).parent().addClass('selected-plan');
            $(this).parent().find('.plan-title').append('<span><i class="fa fa-check-circle"></i></span>');
        });
    });
    </script>
</body>
</html>